html, body {
    background-color: white;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color:dimgrey;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
}

header nav ul {
    text-align: center;
    padding: 10px;
}

header nav ul li {
    display: inline-block;
    color: white;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

header nav ul li:hover {
    background-color: white;
    color: black;
}

.cover {
    background-color:darkslategray;
    width: 100%;
    height: 850px;
    position: absolute;
    top: 100px;
    left: 0;
}

.cover-container {
    height: 800px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 10px;
    padding: 10px;
}

.cover-container img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.cover-container h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    color: white;
}

.cover-container h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}

.cover-container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
}

.cover-container button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    color: Black;
}